
#escrever{
    position:absolute;
    left:33%;
    top:37%
}
#senha1{
    position:absolute;
    left:33%;
    top:55%
    
}
#enviar{
     position:absolute;
    left:30%;
    top:70%
    
}

#cancelar{
     position:absolute;
    left:50%;
    top:70%

   
    
    
}